<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="userId" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverName" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
<!--/*@thymesVar id="environment" type="java.lang.String"*/-->
<!--/*@thymesVar id="almInfos" type="java.util.List<ch.mobi.mobitor.plugin.hpalm.domain.AlmInformation>"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:text="'mobitor - Screen - HTTP Status- ' + ${screen.configKey}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1 class="screenTitle">Test-Results</h1>

<p>
    &larr; <a th:href="@{/screen(key=${screen.configKey})}">Back</a> to index.
</p>

<div class="statusInfoList">
    <div>
        <div class="label">Server:</div>        <div th:class="data" th:text="${serverName}"></div>
    </div>
    <div>
        <div class="label">Application:</div>   <div th:class="data" th:text="${applicationName}"></div>
    </div>
    <div>
        <div class="label">Environment:</div>      <div th:class="data" th:text="${environment}"></div>
    </div>
</div>

<h3>ALM Test Run Details:</h3>
<div th:each="almInfo : ${almInfos}">
    <div>Ordner-Name: <span th:text="${almInfo.foldername}"/></div>
    <div th:if="${!#strings.isEmpty(almInfo.url)}">Status: <a th:href="${almInfo.url}">Report</a></div>
    <table>
        <tr th:each="testRun : ${almInfo.testResults.testRunsOrderedById}">
            <td>
                <a class="almRunId" th:text="${testRun.id}" th:href="${'testdirector:hpalmhost/qcbin,' + almInfo.domain + ',' + almInfo.project + ',' + userId + ';run:' + testRun.id }" />
            </td>
            <td>
                <span class="almRunDateTime">[<span class="almExecDate" th:text="${testRun.executionDate}" /> <span class="almExecTime" th:text="${testRun.executionTime}" />]</span>
            </td>
            <td>
                <span class="almRunCycleName" th:text="${testRun.cycleName}" />
            </td>
            <td>
                <span th:text="${testRun.testName}" th:title="${testRun.name}" />
            </td>
            <td>
                <span th:text="${testRun.status}" th:style="${testRun.hasPassed() ? 'color: green' : 'color: red;font-weight:bold;'}" />
            </td>
        </tr>
    </table>
</div>

</body>
</html>
