<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.Screen"*/-->
<!--/*@thymesVar id="pipeline" type="ch.mobi.mobitor.domain.screen.Pipeline"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!--/*@thymesVar id="onDutyService" type="ch.mobi.mobitor.service.OnDutyService"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="nextScreenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="rotate" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverContext" type="ch.mobi.mobitor.domain.screen.ServerContext"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:with="refreshText = ${screen.refreshInterval >= 0 ? 'Aktualisierung ' + screen.refreshInterval + 's' : 'keine autom. Aktualisierung'}"
           th:text="'mobitor - Screen ' + ${screen.configKey} + ' - ' + ${refreshText}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta th:if="${screen.refreshInterval >= 0}"
          th:content="${screen.refreshInterval} + ' ; url=screen?key=' + ${nextScreenConfigKey} + '&amp;rotate=' + ${rotate}"
          http-equiv="refresh"/>

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet"/>

    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}" type="text/javascript" charset="utf8"></script>
    <script src="../static/js/jquery.floatThead.min.js" th:src="@{js/jquery.floatThead.min.js}" type="text/javascript" charset="utf8"></script>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function () {
            $('table.pipelines').floatThead({
                position: 'fixed'
            });
        });

    </script>
</head>
<body>
<div id="header">
    <h1 th:title="${screenConfigKey}">
        <a class="fa fa-level-up" th:href="@{/}"></a>
        <th:block th:if="${screen.onDuty != null}">
            <i class="fa fa-ambulance icon-ambulance"></i>
            <th:block th:text="${screen.label}"/>
            <th:block th:text="${onDutyService.getCurrentOnDutyTeam(screen.onDuty)}"/>
            <i class="fa fa-angle-double-right"></i>
        </th:block>
        <th:block th:text="${screen.label}" th:if="${screen.onDuty == null}"/>
    </h1>
    <th:block th:if="${screen.onDuty != null}">
        <h1 class="header-thin">
            <th:block th:text="${onDutyService.getNextOnDutyTeam(screen.onDuty)}"/>
        </h1>
        <h3 class="header-thin">
            <i class="fa fa-calendar-times-o" aria-hidden="true"></i>
            <th:block th:text="${onDutyService.getChangeDate(screen.onDuty)}"/>
        </h3>
    </th:block>
</div>

<table class="pipelines">
    <thead>
    <tr>
        <th>
            <span class="fa fa-certificate ruleIcon" aria-hidden="true" target="_blank" />
            Server
        </th>
        <th>Application</th>
        <!-- Environment Columns -->
        <th th:each="env : ${screen.environments}" th:classappend="${svh.getEnvironmentClass(env)}">
            <div class="envTitle">
                <span th:title="${env}" th:text="${svh.getEnvironmentConfig(env).label}"/> (<span th:text="${env}"/>)
            </div>

            <div th:if="${not #strings.isEmpty(svh.getEnvironmentConfig(env).description)}"
                 th:class="envDescription">
                <th:block th:if="${not #strings.isEmpty(svh.getEnvironmentConfig(env).descriptionUrl)}">
                    <a th:href="${svh.getEnvironmentConfig(env).descriptionUrl}"
                       th:target="_blank"
                       th:text="${svh.getEnvironmentConfig(env).description}"/>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </th:block>
                <span th:if="${#strings.isEmpty(svh.getEnvironmentConfig(env).descriptionUrl)}"
                      th:text="${svh.getEnvironmentConfig(env).description}"/>
            </div>
            <div th:if="${eih.hasInformation(env)}" class="envInformation" th:classappend="${eih.getShiftedDays(env) > 0 ? 'timeOffset' : ''}">
                <i class="fa fa-clock-o" title="Zeitreise!"></i>
                <span th:text="${#temporals.format(eih.getShiftedTime(env), 'dd.MM.yyyy')}" title="aktuelle Umgebungszeit"></span>
                <b th:text="${'+' + eih.getShiftedDays(env) + 'Tg'}" title="Offset in Tagen"></b>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="pipeline : ${screen.pipelines}">
        <!-- 1: Server Column, rowspan over number of applications -->
        <!-- 2: Applications Column, one row per application -->
        <!-- 3+: InfoBlocks per Environment -->
        <tr th:each="applicationName,appStat : ${pipeline.applicationNames}">
            <td th:if="${appStat.first}" th:rowspan="${appStat.size}"
                th:classappend="${pipeline.getRuleEvaluationSeverity().name().equals('CONTAINS_ERRORS') ? 'serverViolates' : 'serverConform'}">
                <th:block th:switch="${pipeline.getRuleEvaluationSeverity().name()}">
                    <span th:case="${'CONTAINS_ERRORS'}" th:title="${pipeline.getViolatedTypes()}">
                        <a th:href="@{/rules(screen=${screen.configKey},server=${pipeline.appServerName})}"
                           class="fa fa-bolt serverViolatesIcon" aria-hidden="true"></a>
                    </span>
                    <span th:case="${'WARNINGS_ONLY'}" th:title="${pipeline.getViolatedTypes()}">
                        <a th:href="@{/rules(screen=${screen.configKey},server=${pipeline.appServerName})}"
                           class="fa fa-info-circle serverWarningIcon" aria-hidden="true"></a>
                    </span>
                    <span th:case="${'TROPHY'}" class="fa fa-trophy serverConformIcon" aria-hidden="true"></span>
                </th:block>
                <span th:text="${svh.getServerScreenName(pipeline.appServerName)}"/>
                <div th:if="${pipeline.getRuleEvaluationSeverity().name().equals('CONTAINS_ERRORS')}" class="pipelineLastCompliantDate">
                <span th:if="${pipeline.lastRuleCompliantDate} != null"
                      th:text="${#dates.format(pipeline.lastRuleCompliantDate, 'dd.MM.yyyy HH:mm')}"
                      th:title="${'letzte Regel-Überprüfung: ' + #dates.format(pipeline.lastRuleUpdateDate, 'dd.MM.yyyy HH:mm')}"/>
                </div>
            </td>
            <!--  -->
            <td th:text="${svh.getApplicationScreenName(applicationName)}" th:title="${applicationName}"></td>
            <td th:each="env : ${screen.environments}">
                <div class="applicationInformationBlocks" th:with="serverContext=${pipeline.getServerContext(env)}">
                    <div class="applicationVersion" th:text="${svh.getVersionFromVersionInformation(serverContext, applicationName)}" th:title="${applicationName}"/>

                    <th:block th:each="appInfo : ${serverContext.getMatchingInformationByApplicationName(applicationName)}" th:if="${appInfo.hasInformation()}">
                        <th:block th:include="${'information/' + appInfo.type} :: body" />
                    </th:block>
                </div>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<div id="footer">
    <div class="refreshInformation">
        <span th:each="refreshDateEntry : ${screen.refreshDates}">
            //<span class="refreshLabel" th:text="${refreshDateEntry.key}"/>:
            <span th:text="${refreshDateEntry.value != null ? #dates.format(refreshDateEntry.value, 'HH:mm') : '...'}"
                  th:title="${refreshDateEntry.value != null ? #dates.format(refreshDateEntry.value, 'dd.MM.yyyy HH:mm') : '...'}"/>
        </span>
        ////<span class="refreshLabel" th:text="'Datum: '"/><span
            th:text="${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}"/>
    </div>
</div>

</body>
</html>
