<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.hpalm.domain.AlmInformation"*/-->
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock almInformation" th:classappend="${svh.getCssClassForAlm(appInfo)}">
    <a th:title="${'ALM: ' + appInfo.foldername}" th:href="@{/alm(screen=${screen.configKey},env=${env},server=${pipeline.appServerName},application=${applicationName})}">
        SOLIT
    </a>
    <a th:if="${appInfo.hasFailedRuns()}" th:href="${#strings.isEmpty(appInfo.url) ? '#' : appInfo.url}" target="_blank">
        <span th:text="${appInfo.passedRuns + '/' + appInfo.numberOfRuns}" title="Passed/Total Runs" />
    </a>
</span>

</body>
</html>
