<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverName" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
<!--/*@thymesVar id="environment" type="java.lang.String"*/-->
<!--/*@thymesVar id="deployments" type="java.util.List<ch.mobi.mobitor.plugin.dwh.domain.DwhDeploymentInformation>"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:text="'mobitor - Screen - Package Deployment Information - ' + ${screen.configKey}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<h1 class="screenTitle">Package Deployment Information</h1>

<p>
    &larr; <a th:href="@{/screen(key=${screen.configKey})}">Zurück</a> zur Übersicht.
</p>

<div class="statusInfoList">
    <div>
        <div class="label">Build ID:</div>
        <a th:class="data" th:text="${buildId}" th:href="${ciLink}" target="_blank"></a>
    </div>
</div>

<table>
    <tr>
        <th>Server</th>
        <th>Application</th>
        <th>Environment</th>
        <th>Release Day</th>
        <th>Timestamp</th>
        <th>Package</th>
        <th>Branchname</th>
        <th>Deployer</th>
    </tr>
    <tr th:each="deployment : ${deployments}">
        <td th:text="${deployment.serverName}"></td>
        <td th:text="${deployment.applicationName}"></td>
        <td th:text="${deployment.environment}"></td>
        <td th:text="${deployment.version}" style="min-width: 6em"></td>
        <td th:text="${deployment.time}"></td>
        <td th:text="${deployment.jiraId}"></td>
        <td th:text="${deployment.branch}"></td>
        <td th:text="${deployment.deployUser}"></td>
    </tr>
</table>

</body>
</html>
