@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v14-latin-regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./fonts/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/open-sans-v14-latin-regular.woff2') format('woff2'), url('./fonts/open-sans-v14-latin-regular.woff') format('woff'), url('./fonts/open-sans-v14-latin-regular.ttf') format('truetype'), url('./fonts/open-sans-v14-latin-regular.svg#OpenSans') format('svg')
}

html {
    background-color: black
}

body {
    background-color: #111;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    margin: 25px;
    padding: 25px;
    border-radius: 25px
}

a {
    color: #468abe;
    text-decoration: none
}

div.start > div {
    float: left
}

div.screens {
    width: 60%
}

div.help {
    width: 30%
}

ul {
    padding-left: 10px;
    padding-right: 20px;
    list-style: none inside none;
    margin-top: 5px;
    margin-bottom: 3px
}

li {
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px
}

ul li .percentageFillRestErrors {
    border-radius: 3px;
    width: 60px;
    font-weight: normal;
    float: left;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 5px
}

.footer {
    clear: both;
    padding-top: 80px;
    font-size: small;
    color: #555
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v14-latin-regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./fonts/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/open-sans-v14-latin-regular.woff2') format('woff2'), url('./fonts/open-sans-v14-latin-regular.woff') format('woff'), url('./fonts/open-sans-v14-latin-regular.ttf') format('truetype'), url('./fonts/open-sans-v14-latin-regular.svg#OpenSans') format('svg')
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif
}

body {
    background-color: #000;
    color: whitesmoke
}

a {
    color: #468abe;
    text-decoration: none
}

hr {
    border: 0;
    height: 1px;
    background: white
}

.fixedHeader {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    height: 140px;
    background-color: #000
}

.screenTitle {
    display: inline
}

.titleContainer {
    margin: 22px
}

.screenTitleLable {
    font-weight: 100;
    padding-right: 10px
}

.screenTitle h2 {
    font-weight: 100
}

.screenTitle h3 {
    font-weight: 300
}

.screenTitleIcon {
    font-size: 1.9em
}

.screenTitleNextIcon {
    font-size: 1.7em
}

.pipelineStatusList {
    margin-top: 140px
}

div.screenIndexLink {
    font-size: 28px;
    position: absolute;
    top: 24px;
    right: 14px
}

div.screenIndexLink a {
    color: #666
}

div.pipelineStatusTitle {
    text-align: center;
    font-weight: bold
}

div.pipelineStatusTitle div.rulesAndServer {
    background-color: #192229;
    border-radius: 0 50px 0 0;
    text-align: left
}

div.pipelineStatusTitle div.rulesAndServer span {
    padding: 5px
}

div.pipelineStatusTitle div.bakeEnvironment {
    background-color: dodgerblue;
    border-radius: 100px
}


.deliveryEnvironment {
    white-space: nowrap;
    overflow: hidden;
    background-color: #333
}

.deliveryEnvironmentConventional {
    background-color: #666
}

.deliveryEnvironmentAgile {
    background-color: cornflowerblue
}

.deliveryEnvironment > div.label {
    padding-top: 1em
}

.pipelineLastCompliantDate {
    font-size: small;
    color: white;
    opacity: .5;
    padding: 0 1em .2em
}

.envDescription {
    color: ghostwhite;
    font-weight: normal;
    font-size: x-small;
    padding-top: .4em;
    padding-bottom: .4em
}

.envDescription a {
    color: ghostwhite
}

.envDescription a:hover {
    color: white;
    text-decoration: underline
}

.evenServerRow {
    background-color: rgba(255, 255, 255, 0.2)
}

span.informationBlock {
    display: inline-block;
    border-radius: 3px;
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px
}

span.informationBlock a {
    color: rgba(0, 0, 0, 0.5)
}

span.sonarInformation {
    font-weight: normal;
    font-size: smaller;
    padding: 3px;
    border-radius: 4px;
    white-space: nowrap
}

.sonarConform {
    background-color: #27a75b
}

.sonarViolated {
    background-color: #ff5840
}

.sonarFlipped {
    transform: scaleX(-1)
}

.nexusIqInformation {
    padding: 3px;
    border-radius: 4px
}

.nexus-iq-ok {
    background-color: #27a75b
}

.nexus-iq-error {
    background-color: #ff5840
}

.nexus-iq-unknown {
    background-color: #555
}

span.zaproxyInformation {
    font-weight: normal;
    font-size: smaller;
    padding: 3px;
    border-radius: 4px;
    white-space: nowrap
}

.health-status i {
    padding-left: 2px;
    padding-right: 2px
}

.health-enabled {
    background-color: #27a75b;
    color: #b7ebcd
}

.health-disabled {
    background-color: #ff5840
}

.health-unknown {
    background-color: #555
}

.metricErrorIcon {
    color: #d4333f
}

.metricCoverageIcon {
    color: black
}

.metric {
    margin-left: 2px;
    margin-right: 4px
}

.applicationName {
    color: #bbb
}

.applicationVersion {
    font-weight: bold
}

.infoBox {
    padding: 1em
}

.infoBoxThin {
    padding: .4em;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top
}

.ruleIcon {
    color: gold
}

.serverConform {
    background-color: rgba(39, 167, 91, 0.8)
}

.serverViolates {
    background-color: rgba(255, 88, 64, 0.8)
}

.serverViolatesIcon {
    font-size: larger;
    color: darkred
}

.appInfoBox a {
    color: black
}

.build-error {
    background-color: #ff5840;
    font-weight: bolder
}

.serverConformIcon {
    color: #b7ebcd
}

.build-success {
    background-color: #27a75b;
    color: #263720;
    font-weight: bold
}

.build-unknown {
    background-color: #444;
    font-weight: normal;
    color: #ccc
}

.build-running {
    background-color: #ffb553;
    animation: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

.build-progress {
    border: 1px solid floralwhite;
    border-radius: 6px;
    font-weight: normal;
    font-size: 10px;
    color: #444;
    background-color: floralwhite;
    vertical-align: middle
}

.build-progress img {
    vertical-align: middle
}

.build-statistics {
    font-weight: normal;
    font-size: smaller;
    display: table;
    float: right;
    padding-left: 3px
}

.build-statistics .tests-failed {
    background-color: rgba(235, 39, 0, 0.75);
    padding: 2px 3px;
    color: darkred;
    display: table-cell;
    border-radius: 4px;
    font-weight: bold
}

.build-statistics .tests-passed {
    background-color: #27a75b;
    padding: 2px 3px;
    color: #111;
    display: table-cell;
    border-radius: 4px
}

.build-statistics .tests-ignored {
    background-color: #ffb553;
    padding: 2px 3px;
    color: #111;
    display: table-cell;
    border-radius: 4px
}

.build-statistics .tests-total {
    display: table-cell;
    border-radius: 6px
}

.amwInformation {
    margin-left: 3px;
    margin-right: 3px
}

.amwEnvironments {
    width: 100%;
    display: inline-block
}

.server-error {
    background-color: #c6352f;
    border-radius: 0 6px 6px 0;
    font-weight: bolder;
    color: #f4c4c3
}

.server-success {
    font-weight: normal;
    border-radius: 0 6px 6px 0;
    background-color: #27a75b;
    color: #263720
}

.server-abort {
    border-radius: 0 6px 6px 0;
    background-color: inherit;
    color: #f4c4c3
}

.server-working {
    border-radius: 0 6px 6px 0;
    background-color: #f1b605;
    color: #a2630b
}

.server-unknown {
    border-radius: 6px
}

.restInformation {
    background-color: #555
}

.rest-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bolder
}

.rest-success {
    background-color: #27a75b;
    color: #263720;
    font-weight: bold
}

.statusInfoList {
    padding-left: 20px
}

.statusInfoList div.label {
    display: inline-block;
    width: 150px
}

.statusInfoList div.data {
    font-weight: bold;
    display: inline-block
}

a.shakedown {
    font-weight: bold
}

.refreshInformation {
    margin-top: 20px;
    font-size: smaller;
    text-align: center
}

.refreshLabel {
    font-weight: bold
}

.restCallOk {
    color: #27a75b
}

.restCallError {
    color: #ff5840;
    font-weight: bold
}

.restCallMessages {
    width: 80%;
    overflow: scroll;
    line-break: strict
}

.restCallMessages pre {
    margin: 0
}

.restCallSlow {
    color: orange
}

.jiraInformation {
    border: 1px solid black;
    border-radius: 3px
}

.jira-pending {
    background-color: #666
}

.jira-ok {
    background-color: #27a75b
}

.jira-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.jira-warning {
    background-color: #f1b605
}

.jira-info {
    background-color: #468abe
}

.restarts-ok {
    background-color: #27a75b;
    color: #b7ebcd
}

.restarts-warning {
    background-color: #f1b605
}

.restarts-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.flyway-ok {
    background-color: #27a75b;
    color: #263720
}

.flyway-almost-ok {
    background-color: #27a75b;
    color: lightgreen
}

.flyway-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.flyway-unknown {
    background-color: #27a75b;
    color: silver
}

.almInformation {
    background-color: coral
}

.alm-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.alm-ok {
    background-color: #27a75b
}

.alm-unknown {
    background-color: #666
}

.almRunId {
    color: #666;
    text-decoration: underline
}

.almRunDateTime {
    color: #999
}

.almRunCycleName {
    color: #bbb
}

.bitBucketInformation {
    background-color: #27a75b
}

.changelogInformation {
    color: #eee;
    background-color: cornflowerblue
}

span.changelogInformation a {
    color: #ccc
}

.changelogComponentTitle {
    background-color: #222
}

a.changelogGitUrl {
    color: #eee
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v14-latin-regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./fonts/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/open-sans-v14-latin-regular.woff2') format('woff2'), url('./fonts/open-sans-v14-latin-regular.woff') format('woff'), url('./fonts/open-sans-v14-latin-regular.ttf') format('truetype'), url('./fonts/open-sans-v14-latin-regular.svg#OpenSans') format('svg')
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: whitesmoke
}

div {
    box-sizing: border-box
}

a:hover {
    text-decoration: underline
}

#header a {
    padding-right: 10px;
    padding-left: 5px
}

th {
    font-weight: bold;
    text-align: left
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse
}

th {
    height: 58px;
    padding-left: 5px;
    background-color: #111
}

td {
    vertical-align: top;
    padding: 3px 5px 5px
}

tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.1)
}

tbody td, thead th {
    border-right: 3px solid black
}

.informationBlock {
    display: inline-block;
    padding: 3px;
    border: 1px solid black;
    font-size: smaller;
    font-weight: normal;
    border-radius: 4px
}

.informationBlock a {
    color: rgba(0, 0, 0, 0.75)
}

.informationBlock a:hover {
    text-decoration: underline
}

.kubernetesBatchJobInformation {
    background-color: #27a75b
}

#footer {
    color: rgba(255, 255, 255, 0.5)
}

.refreshInformation {
    margin-top: 20px;
    font-size: smaller;
    text-align: center
}

.refreshLabel {
    font-weight: bold
}

#header {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    white-space: nowrap
}

#header h3 {
    padding-left: 10px
}

.header-thin {
    font-weight: 100
}

a {
    color: #468abe;
    text-decoration: none
}

hr {
    border: 0;
    height: 1px;
    background: white
}

.fixedHeader {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    height: 140px;
    background-color: #000
}

.pipelineStatusList {
    margin-top: 140px
}

div.screenIndexLink {
    font-size: 28px;
    position: absolute;
    top: 24px;
    right: 14px
}

div.screenIndexLink a {
    color: #666
}

div.pipelineStatusTitle {
    text-align: center;
    font-weight: bold
}

div.pipelineStatusTitle div.rulesAndServer {
    background-color: #192229;
    border-radius: 0 50px 0 0;
    text-align: left
}

div.pipelineStatusTitle div.rulesAndServer span {
    padding: 5px
}

div.pipelineStatusTitle div.bakeEnvironment {
    background-color: dodgerblue;
    border-radius: 100px
}

.envTitle {
    white-space: nowrap
}

.envDescription {
    color: ghostwhite;
    font-weight: normal;
    font-size: x-small;
    padding-top: .4em;
    padding-bottom: .4em
}

.envDescription a {
    color: ghostwhite
}

.envDescription a:hover {
    color: white;
    text-decoration: underline
}

.envInformation {
    font-size: small;
    font-weight: normal;
    white-space: nowrap;
    text-align: center
}

.timeOffset {
    border-radius: 4px;
    background-color: #d4333f;
    padding: 1px
}

.evenServerRow {
    background-color: rgba(255, 255, 255, 0.2)
}

span.sonarInformation {
    white-space: nowrap
}

.sonarConform {
    background-color: #27a75b
}

.sonarViolated {
    background-color: #ff5840
}

.sonarFlipped {
    transform: scaleX(-1)
}

.nexusIqInformation {
    padding: 3px;
    border-radius: 4px
}

.nexus-iq-ok {
    background-color: #27a75b
}

.nexus-iq-error {
    background-color: #ff5840
}

.nexus-iq-unknown {
    background-color: #555
}

span.zaproxyInformation {
    white-space: nowrap
}

.zaproxy-high {
    background-color: #ff5840
}

.zaproxy-medium {
    background-color: #ffa640
}

.zaproxy-low {
    background-color: #fff040
}

.zaproxy-info {
    background-color: #4090ff
}

.zaproxy-unknown {
    background-color: #555
}

.health-status i {
    padding-left: 2px;
    padding-right: 2px
}

.health-enabled {
    background-color: #27a75b;
    color: #b7ebcd
}

.health-disabled {
    background-color: #ff5840
}

.health-unknown {
    background-color: #555
}

.metricErrorIcon {
    color: #d4333f
}

.metricCoverageIcon {
    color: black
}

.metric {
    margin-left: 2px;
    margin-right: 4px
}

.applicationName {
    color: #bbb
}

.applicationVersion {
    float: left;
    font-weight: bold;
    min-width: 90px
}

.infoBox {
    padding: 1em
}

.ruleIcon {
    color: gold
}

.serverConform {
    background-color: rgba(39, 167, 91, 0.8)
}

.serverViolates {
    background-color: rgba(255, 88, 64, 0.8)
}

.serverViolatesIcon {
    font-size: larger;
    color: darkred;
    text-decoration: none
}

.serverViolatesIcon:hover {
    font-size: larger;
    color: yellow;
    text-decoration: none
}

.serverWarningIcon {
    font-size: medium;
    color: #ebe0b7;
    text-decoration: none
}

.serverWarningIcon:hover {
    font-size: medium;
    color: #cea717;
    text-decoration: none
}

.appInfoBox a {
    color: black
}

.build-error {
    background-color: #ff5840;
    font-weight: bolder
}

.serverConformIcon {
    color: #b7ebcd
}

.build-success {
    background-color: #27a75b;
    color: #263720
}

.build-unknown {
    background-color: #444;
    font-weight: normal;
    color: #ccc
}

.build-running {
    background-color: #ffb553;
    animation: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

.build-progress {
    border: 1px solid floralwhite;
    border-radius: 6px;
    font-weight: normal;
    font-size: 10px;
    color: #444;
    background-color: floralwhite;
    vertical-align: middle
}

.build-progress img {
    vertical-align: middle
}

.build-statistics {
    font-weight: normal;
    font-size: smaller;
    display: table;
    float: right;
    padding-left: 3px
}

.build-statistics .tests-failed {
    background-color: rgba(235, 39, 0, 0.75);
    padding: 2px 3px;
    color: darkred;
    display: table-cell;
    border-radius: 4px;
    font-weight: bold
}

.build-statistics .tests-passed {
    background-color: #27a75b;
    padding: 2px 3px;
    color: #111;
    display: table-cell;
    border-radius: 4px
}

.build-statistics .tests-ignored {
    background-color: #ffb553;
    padding: 2px 3px;
    color: #111;
    display: table-cell;
    border-radius: 4px
}

.build-statistics .tests-total {
    display: table-cell;
    border-radius: 6px
}

.amwInformation {
    margin-left: 1px;
    margin-right: 1px
}

.amwEnvironments {
    width: 100%;
    display: inline-block
}

.server-error {
    background-color: #c6352f;
    font-weight: bolder;
    color: #f4c4c3
}

.server-success {
    font-weight: normal;
    background-color: #27a75b;
    color: #263720
}

.server-abort {
    background-color: #888;
    border-color: #999
}

.server-working {
    background-color: #f1b605;
    color: #a2630b
}

.server-unknown {
    border-radius: 6px
}

.restInformation {
    background-color: #555
}

.rest-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bolder
}

.rest-success {
    background-color: #27a75b;
    color: #263720;
    font-weight: bold
}

.statusInfoList {
    padding-left: 20px
}

.statusInfoList div.label {
    display: inline-block;
    width: 150px
}

.statusInfoList div.data {
    font-weight: bold;
    display: inline-block
}

a.shakedown {
    font-weight: bold
}

.refreshInformation {
    margin-top: 20px;
    font-size: smaller;
    text-align: center
}

.refreshLabel {
    font-weight: bold
}

.restCallOk {
    color: #27a75b
}

.restCallError {
    color: #ff5840;
    font-weight: bold
}

.restCallMessages {
    width: 80%;
    overflow: scroll;
    line-break: strict
}

.restCallMessages pre {
    margin: 0
}

.restCallSlow {
    color: orange
}

.jiraInformation {
    border: 1px solid black;
    border-radius: 3px
}

.jira-pending {
    background-color: #666
}

.jira-ok {
    background-color: #27a75b
}

.jira-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.jira-warning {
    background-color: #f1b605
}

.jira-info {
    background-color: #468abe
}

.restarts-ok {
    background-color: #27a75b;
    color: #b7ebcd
}

.restarts-warning {
    background-color: #f1b605
}

.restarts-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.flyway-ok {
    background-color: #27a75b;
    color: #263720
}

.flyway-almost-ok {
    background-color: #27a75b;
    color: lightgreen
}

.flyway-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.flyway-unknown {
    background-color: #27a75b;
    color: silver
}

.almInformation {
    background-color: coral
}

.alm-error {
    background-color: #ff5840;
    color: #f4c4c3;
    font-weight: bold;
    border: 1px solid #d4333f
}

.alm-ok {
    background-color: #27a75b
}

.alm-unknown {
    background-color: #666
}

.almRunId {
    color: #666;
    text-decoration: underline
}

.almRunDateTime {
    color: #999
}

.almRunCycleName {
    color: #bbb
}

.bitBucketInformation {
    background-color: #27a75b
}

.changelogInformation {
    color: #eee;
    background-color: cornflowerblue
}

span.changelogInformation a {
    color: #ccc
}

.changelogComponentTitle {
    background-color: #222
}

a.changelogGitUrl {
    color: #eee
}

.icon-ambulance {
    animation: siren 3s infinite
}

@keyframes siren {
    0% {
        color: white
    }
    33% {
        color: #2e3dff
    }
    66% {
        color: #ff1d13
    }
    100% {
        color: white
    }
}

.statusOk {
    background-color: #27a75b;
    color: rgba(0, 0, 0, 0.75)
}

.statusWarning {
    background-color: #f1b605;
    color: rgba(0, 0, 0, 0.75)
}

.statusRunning {
    background-color: #f1b605;
    color: rgba(0, 0, 0, 0.75)
}

.statusUnknown {
    background-color: #666;
    color: rgba(0, 0, 0, 0.75)
}

.statusError {
    background-color: #ff5840;
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold
}

.legend * {
    font-size: 12px;
    font-weight: normal;
}
